<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongoctuan.admin.ungdungxemphim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetail" />
        <!-- <activity android:name=".CommentCustomList" /> -->
        <activity android:name=".View.WatchMovieBUS" />
        <!-- <activity android:name=".RelatedMovieCustomList"></activity> -->
        <activity android:name=".View.TypeMovie" />
        <activity android:name=".View.ForgetPassWord" />
        <activity android:name=".View.ChangePassword" />
        <activity android:name=".View.Introduce" />
        <activity android:name=".View.Contact" />
        <activity android:name=".View.Question" />
        <activity android:name=".View.ChangeInfor" />
        <activity android:name=".View.NewsAndGift" />
        <activity android:name=".View.Detail_NewsAndGift" />
        <activity android:name=".View.BookTicket" />
        <activity android:name=".View.ListRap" />
        <activity android:name=".View.DetailRap" />

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnbCEBgJ4z71H29ePcisseHtyoA7sTBLI" />

        <activity android:name=".View.LichChieuRap" />
        <activity android:name=".BUS.dfjslkf" />
        <activity android:name=".View.ListLichChieu" />
        <activity android:name=".View.DatVe"></activity>
    </application>

</manifest>
